    <div class="card">
        <img src="/uploads/groups/<%= meeti.group.img %>">
        <div class="card-texto">
            <% moment.locale('es') %>
            <% const date = `${meeti.date} ${meeti.hour}` %>
            <p class="fecha"><%= moment(date).format('LLLL') %> Horas</p>
            <a href="/meeti/<%= meeti.slug %>">
                <h3><%= meeti.title %></h3>
            </a>
            <div class="info-autor">
                <% if(meeti.user.img) { %>
                    <div class="imagen">
                        <% if(meeti.group.img){ %>
                            <img src="/uploads/groups/<%= meeti.group.img %>">
                        <% } else { %>
                            <img src="/img/meeti.jpg %>">
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="imagen"></div>
                <% } %>                           
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor"><%= meeti.user.name %></p>
                </div>
            </div>
        </div>
    </div>