<main class="contenedor panel-administracion">
    <h1><%= namePage %></h1>

    <div class="contenedor-botones">
        <a href="/new-group" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/new-meeti" class="btn btn-azul">Nueva Meeti</a>
        <a href="/edit-profile" class="btn btn-rosa">Editar Perfil</a>
        <a href="/change-password" class="btn btn-verde">Cambiar Password</a>
        <a href="/image-profile" class="btn btn-amarillo">Imagen Perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Próximos Eventos</h2>
        <% if (meeti.length > 0){ %>
            <ul>
                <% meeti.forEach(meet => { %>
                    <li>
                        <div class="informacion-admin">
                            <% moment.locale('es') %>
                            <% const date = meet.date +' '+ meet.hour; %>
                            <p class="fecha"><%= moment(date).format('LLLL') %></p>
                            <h3><%= meet.title %></h3>
                            <small><%= meet.interested.length %> Interesados</small>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/edit-meeti/<%= meet.id %>" class="btn btn-verde">Editar</a>
                            <a href="/interested-meeti/<%= meet.id %>" class="btn btn-azul2">Asistentes</a>
                            <a href="/delete-meeti/<%= meet.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Aún no tienes meeti's creados</p>
        <% } %>
    </div>

    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <% if (groups.length){ %>
            <ul>
                <% groups.forEach( group => { %>
                <li>
                    <div class="informacion-admin">
                        <h3><%= group.name %></h3>
                    </div>
                    <div class="acciones contenedor-botones">
                        <a href="/edit-group/<%= group.id %>" class="btn btn-verde">Editar</a>
                        <a href="/image-group/<%= group.id %>" class="btn btn-azul2">Imagen</a>
                        <a href="/delete-group/<%= group.id %>" class="btn btn-rojo">Eliminar</a>
                    </div>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No tienes grupos creados</p>
        <% } %>
    </div>

        <div class="seccion-admin">
        <h2>Eventos Pasados</h2>
        <% if (previous.length > 0){ %>
            <ul>
                <% previous.forEach(meet => { %>
                    <li>
                        <div class="informacion-admin">
                            <% moment.locale('es') %>
                            <% const date = meet.date +' '+ meet.hour; %>
                            <p class="fecha"><%= moment(date).format('LLLL') %></p>
                            <h3><%= meet.title %></h3>
                            <small><%= meet.interested.length %> Interesados</small>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/edit-meeti/<%= meet.id %>" class="btn btn-verde">Editar</a>
                            <a href="/interested-meeti/<%= meet.id %>" class="btn btn-azul2">Asistentes</a>
                            <a href="/delete-meeti/<%= meet.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No hay aún eventos pasados</p>
        <% } %>
    </div>

</main>