<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1><%= meeti.title %></h1>

            <div class="info-autor">
                <div class="imagen"> 
                    <% if(meeti.user.img){ %>
                        <img src="/uploads/profiles/<%= meeti.user.img %>">
                    <% } %>
                </div>
                <div class="informacion"> 
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="/users/<%= meeti.user.id %>"><%= meeti.user.name %></a> Creador de:
                        <a href="/groups/<%= meeti.group.id %>"><%= meeti.group.name %></a>
                    </p>
                </div>
            </div>

        </div>

        <div class="pregunta-asistencia">
            <% if(user.id) { %>
                <% const exist = meeti.interested.includes(user.id) %>
                <form action='/confirm-assistance/<%= meeti.slug %>' id="confirm-assistance">
                    <p>¿Asistirás?</p>
                    <% if(exist){ %>
                        <input type="hidden" id="operation" value="cancel">
                        <input type="submit" class="btn btn-rojo" value="Cancelar">
                    <% } else { %>
                        <input type="hidden" id="operation" value="confirm">
                        <input type="submit" class="btn btn-azul" value="Si">
                    <% } %>
                    <div id="message"></div>
                </form>
            <% } else { %>
                <p>Inicie Sesión para confirmar asistencia</p>
            <% } %>
        </div>

    </div>
</div>

<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <% if(meeti.group.img){ %>
                    <img src="/uploads/groups/<%= meeti.group.img %>">
                <% } %>
                <p><%- meeti.description %></p>
            </div>
            <div class="asistentes">
                <div class="titulo">
                    <h3><%= meeti.interested.length %> Asistentes</h3>
                    <a href="/interested/<%= meeti.slug %>">Ver Todos</a>
                </div>
            </div>
            <div class="comentarios">
                <h2>Comentarios</h2>
                <% if(comments.length > 0){  %>
                <% comments.forEach( comment => {  %>
                    <div class="comentario">
                        <div class="imagen">
                            <% if(comment.user.img) { %>
                                <img src="/uploads/profiles/<%= comment.user.img %>">
                            <% } %>
                        </div>
                        <div class="texto">
                            <p><%= comment.message %></p>
                            <p>Escrito por: 
                                <a href="/users/<%= comment.user.id %>">
                                    <%= comment.user.name %>
                                </a>
                            </p>
                            <% if(comment.user.id === user.id  || meeti.userId === user.id ) { %>
                                <form action="/delete-comment" method="POST" class="eliminar-comentario">
                                    <input type="hidden" name="idComment" value="<%= comment.id %>" >
                                    <input type="submit" value="Eliminar" class="btn btn-azul">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% })  %>
                <% } else {  %>
                    <p>No hay comentarios aún</p>
                <% } %>
            </div>
            <% if(user.id){ %>
                <form action="/meeti/<%= meeti.id %>" method="POST" class="default-form comentarios">
                    <legend>Escr¡bir un comentario</legend>
                    <div class="campo">
                        <label for="comment">Comentario</label>
                        <textarea name="comment"></textarea>
                    </div>
                    <div class="campo enviar">
                        <input type="submit" value="enviar" class="btn btn-rosa">
                    </div>
                </form>
            <% } else { %>
                <p>Inicie sesión para añadir comentarios</p>
            <% } %>
        </div>

        <aside class="informacion">
            <div class="fecha">
                <% moment.locale('es'); %>
                <% const date= meeti.date + ' ' + meeti.hour; %>
                <p><%= moment(date).format('LLLL') %> Horas</p>
            </div>
            <div class="ubicacion">
                <p><%= meeti.address %>, <%= meeti.city %>, <%= meeti.state %>, <%= meeti.country %></p>
            </div>
            <input type="hidden" id="lat" value="<%= meeti.geo.coordinates[0] %>">
            <input type="hidden" id="lng" value="<%= meeti.geo.coordinates[1] %>">
            <input type="hidden" id="address" value="<%= meeti.address %>">
            <div id="ubicacion-meeti"></div>
        </aside>

    </div>
</main>

<h2>Otros Meetis Cercanos</h2>
<div class="contenedor cercanos">
    <% if(nearMeetis.length> 0) { %>
        <% nearMeetis.forEach( meeti => { %>
            <%- include partials/card-meeti.ejs %>
        <% }) %>
    <% } else { %>
        <p>No hay meetis cercanos</p>
    <% } %>
</div>